scripts/flow.json
[{"id":"7cef50e8.f7bfb","type":"watson-conversation-v1","z":"2c2fa35e.951c8c","name":"","workspaceid":"ff9a0838-7cb3-4932-a12d-f8843dca4448","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"","timeout":"","optout-learning":false,"x":680,"y":40,"wires":[["83749b9a.1db4e8"]]},{"id":"7ccb55c6.2cf9cc","type":"watson-speech-to-text","z":"2c2fa35e.951c8c","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"FUCbl5WWa5C1","payload-response":false,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":340,"y":20,"wires":[["3efcbba5.c675c4"]]},{"id":"6e88191a.346128","type":"watson-text-to-speech","z":"2c2fa35e.951c8c","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"FUCbl5WWa5C1","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":700,"y":140,"wires":[["22ab8852.2b79a8"]]},{"id":"3efcbba5.c675c4","type":"function","z":"2c2fa35e.951c8c","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":80,"wires":[["4d152ec7.c3bf9"]]},{"id":"22ab8852.2b79a8","type":"function","z":"2c2fa35e.951c8c","name":"Set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":140,"wires":[["1be9942.cfa596c"]]},{"id":"1be9942.cfa596c","type":"play audio","z":"2c2fa35e.951c8c","name":"","voice":"0","x":1110,"y":140,"wires":[]},{"id":"f0a3d9bb.d665f8","type":"watson-conversation-v1","z":"2c2fa35e.951c8c","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":515.3333129882812,"y":1505.7500295639038,"wires":[["19559462.01fc3c"]]},{"id":"48d77749.e2e3e8","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.33331298828125,"y":1423.7500295639038,"wires":[["d5b0cf62.da112"]]},{"id":"f28ded3f.841a5","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.83331298828125,"y":1460.7500295639038,"wires":[["d5b0cf62.da112"]]},{"id":"d5b0cf62.da112","type":"function","z":"2c2fa35e.951c8c","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":277.83331298828125,"y":1459.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"9fb86282.5f5d3","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.33331298828125,"y":1544.7500295639038,"wires":[["26a382ac.25a5be"]]},{"id":"5d3e174b.f8d178","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.83331298828125,"y":1580.7500295639038,"wires":[["26a382ac.25a5be"]]},{"id":"26a382ac.25a5be","type":"function","z":"2c2fa35e.951c8c","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":276.83331298828125,"y":1579.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"19559462.01fc3c","type":"debug","z":"2c2fa35e.951c8c","name":"","active":true,"console":"false","complete":"payload.output.text","x":734.3333129882812,"y":1505.7500295639038,"wires":[]},{"id":"c0ec882b.5b8698","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":282.33331298828125,"y":1326.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"ac03740d.aefc78","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":282.33331298828125,"y":1362.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"a85b00f8.42de7","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":153.83331298828125,"y":1674.7500295639038,"wires":[["1a1bef41.33f931"]]},{"id":"1a1bef41.33f931","type":"function","z":"2c2fa35e.951c8c","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":298.83331298828125,"y":1674.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"1f3f4522.813e6b","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.83331298828125,"y":1496.7500295639038,"wires":[["d5b0cf62.da112"]]},{"id":"1055c5ed.08156a","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.33331298828125,"y":1616.7500295639038,"wires":[["26a382ac.25a5be"]]},{"id":"d098983b.11fb18","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":282.33331298828125,"y":1398.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"f2bfbadd.8a4998","type":"link out","z":"2c2fa35e.951c8c","name":"gototone","links":["196812c1.e27c3d"],"x":495,"y":300,"wires":[]},{"id":"affeb527.a6c388","type":"link in","z":"2c2fa35e.951c8c","name":"assist","links":["cab4afe4.d2fec","d33024d9.30bb68","ec6e5a15.96cee8"],"x":575,"y":40,"wires":[["7cef50e8.f7bfb"]]},{"id":"196812c1.e27c3d","type":"link in","z":"2c2fa35e.951c8c","name":"oohanne","links":["f2bfbadd.8a4998"],"x":575,"y":240,"wires":[["20e40e31.e64512"]]},{"id":"20e40e31.e64512","type":"watson-tone-analyzer-v3","z":"2c2fa35e.951c8c","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":700,"y":240,"wires":[["959616b.dc17fe8"]]},{"id":"959616b.dc17fe8","type":"function","z":"2c2fa35e.951c8c","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":950,"y":240,"wires":[["ec6e5a15.96cee8"]]},{"id":"83749b9a.1db4e8","type":"function","z":"2c2fa35e.951c8c","name":"set payload","func":"\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    \n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":2,"noerr":0,"x":870,"y":40,"wires":[[],["6e88191a.346128"]]},{"id":"ec6e5a15.96cee8","type":"link out","z":"2c2fa35e.951c8c","name":"","links":["affeb527.a6c388"],"x":1175,"y":240,"wires":[]},{"id":"4d152ec7.c3bf9","type":"function","z":"2c2fa35e.951c8c","name":"set payload","func":"incoming = msg.payload;\nif (incoming && incoming.indexOf(\"on\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"on\") != -1;\n    }).join(' ');\n    msg.payload = \"turn_on_lights\";\n} else if (incoming && incoming.indexOf(\"off\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"off\") != -1;\n    }).join(' ');\n    msg.payload = \"turn_off_lights\";\n} else if (incoming && incoming.indexOf(\"jazz\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"jazz\") != -1;\n    }).join(' ');\n    msg.payload = \"jazz\";\n} else if (incoming && incoming.indexOf(\"rock\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"rock\") != -1;\n    }).join(' ');\n    msg.payload = \"rock\";\n} else {\n    msg.payload = \"play_music\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["a268f643.e01698"]]},{"id":"de8aaa9a.d10378","type":"ibmiot out","z":"2c2fa35e.951c8c","authentication":"apiKey","apiKey":"8fe09997.fa8438","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"0.18.4","eventCommandType":"update","format":"json","data":"audio:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":390,"y":160,"wires":[]},{"id":"a268f643.e01698","type":"function","z":"2c2fa35e.951c8c","name":"Device payload","func":"msg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"audio\" : msg.payload\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":120,"y":160,"wires":[["c73cfffb.ec975","de8aaa9a.d10378"]]},{"id":"c73cfffb.ec975","type":"debug","z":"2c2fa35e.951c8c","name":"Debug output payload","active":true,"console":"false","complete":"payload","x":360,"y":240,"wires":[]},{"id":"4dc2be68.6042d","type":"ibmiot in","z":"2c2fa35e.951c8c","authentication":"apiKey","apiKey":"8fe09997.fa8438","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"oohanne","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":100,"y":220,"wires":[["c2c31e65.87b43"]]},{"id":"c2c31e65.87b43","type":"function","z":"2c2fa35e.951c8c","name":"Get audio","func":"return {payload:msg.payload.d.audio};","outputs":1,"noerr":0,"x":100,"y":300,"wires":[["c73cfffb.ec975","f2bfbadd.8a4998","77302801.9ce4b8"]]},{"id":"223fc1a1.d02c1e","type":"comment","z":"2c2fa35e.951c8c","name":"Say: 1) \"turn on lights\" or 2) \"turn off lights\" or 3) \"play music\" ","info":"","x":540,"y":420,"wires":[]},{"id":"96b5f0e7.5e931","type":"http request","z":"2c2fa35e.951c8c","name":"IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/balsz_MCXd2xawl0eqhwgz","tls":"","x":110,"y":360,"wires":[["e65906a0.04b128"]]},{"id":"e65906a0.04b128","type":"debug","z":"2c2fa35e.951c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":360,"wires":[]},{"id":"603d387a.f1e998","type":"microphone","z":"2c2fa35e.951c8c","name":"","x":110,"y":20,"wires":[["7ccb55c6.2cf9cc"]]},{"id":"77302801.9ce4b8","type":"function","z":"2c2fa35e.951c8c","name":"Set event","func":"msg.event = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["96b5f0e7.5e931"]]},{"id":"8fe09997.fa8438","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
