scripts/flow.json
[{"id":"7ccb55c6.2cf9cc","type":"watson-speech-to-text","z":"2c2fa35e.951c8c","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"FUCbl5WWa5C1","payload-response":false,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"","x":360,"y":40,"wires":[["3efcbba5.c675c4"]]},{"id":"3efcbba5.c675c4","type":"function","z":"2c2fa35e.951c8c","name":"set payload","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":100,"wires":[["4d152ec7.c3bf9"]]},{"id":"22ab8852.2b79a8","type":"function","z":"2c2fa35e.951c8c","name":"Set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":220,"wires":[["1be9942.cfa596c"]]},{"id":"1be9942.cfa596c","type":"play audio","z":"2c2fa35e.951c8c","name":"","voice":"0","x":1230,"y":280,"wires":[]},{"id":"f0a3d9bb.d665f8","type":"watson-conversation-v1","z":"2c2fa35e.951c8c","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":515.3333129882812,"y":1505.7500295639038,"wires":[["19559462.01fc3c"]]},{"id":"48d77749.e2e3e8","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.33331298828125,"y":1423.7500295639038,"wires":[["d5b0cf62.da112"]]},{"id":"f28ded3f.841a5","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.83331298828125,"y":1460.7500295639038,"wires":[["d5b0cf62.da112"]]},{"id":"d5b0cf62.da112","type":"function","z":"2c2fa35e.951c8c","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":277.83331298828125,"y":1459.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"9fb86282.5f5d3","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.33331298828125,"y":1544.7500295639038,"wires":[["26a382ac.25a5be"]]},{"id":"5d3e174b.f8d178","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.83331298828125,"y":1580.7500295639038,"wires":[["26a382ac.25a5be"]]},{"id":"26a382ac.25a5be","type":"function","z":"2c2fa35e.951c8c","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":276.83331298828125,"y":1579.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"19559462.01fc3c","type":"debug","z":"2c2fa35e.951c8c","name":"","active":true,"console":"false","complete":"payload.output.text","x":734.3333129882812,"y":1505.7500295639038,"wires":[]},{"id":"c0ec882b.5b8698","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":282.33331298828125,"y":1326.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"ac03740d.aefc78","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":282.33331298828125,"y":1362.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"a85b00f8.42de7","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":153.83331298828125,"y":1674.7500295639038,"wires":[["1a1bef41.33f931"]]},{"id":"1a1bef41.33f931","type":"function","z":"2c2fa35e.951c8c","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":298.83331298828125,"y":1674.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"1f3f4522.813e6b","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.83331298828125,"y":1496.7500295639038,"wires":[["d5b0cf62.da112"]]},{"id":"1055c5ed.08156a","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.33331298828125,"y":1616.7500295639038,"wires":[["26a382ac.25a5be"]]},{"id":"d098983b.11fb18","type":"inject","z":"2c2fa35e.951c8c","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":282.33331298828125,"y":1398.7500295639038,"wires":[["f0a3d9bb.d665f8"]]},{"id":"f2bfbadd.8a4998","type":"link out","z":"2c2fa35e.951c8c","name":"gototone","links":["affeb527.a6c388"],"x":515,"y":320,"wires":[]},{"id":"affeb527.a6c388","type":"link in","z":"2c2fa35e.951c8c","name":"assist","links":["ec6e5a15.96cee8","f2bfbadd.8a4998"],"x":635,"y":120,"wires":[["523f434a.17633c"]]},{"id":"4d152ec7.c3bf9","type":"function","z":"2c2fa35e.951c8c","name":"Filter payload","func":"incoming = msg.payload;\nif (incoming && incoming.indexOf(\"coffee\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"coffee\") != -1;\n    }).join(' ');\n    msg.payload = \"brew\";\n} else if (incoming && incoming.indexOf(\"stop\") > -1) {\n      incoming =  incoming.split(\" \").filter(function(c) {\n        return c.indexOf(\"stop\") != -1;\n    }).join(' ');\n    msg.payload = \"stop_brewing\";\n} else {\n    msg.payload = \"unclear\";\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["a268f643.e01698"]]},{"id":"de8aaa9a.d10378","type":"ibmiot out","z":"2c2fa35e.951c8c","authentication":"apiKey","apiKey":"8fe09997.fa8438","outputType":"evt","deviceId":"CoffeeMaker","deviceType":"ESP12","eventCommandType":"text","format":"json","data":"audio:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":410,"y":180,"wires":[]},{"id":"a268f643.e01698","type":"function","z":"2c2fa35e.951c8c","name":"Device payload","func":"msg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"audio\" : msg.payload\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":140,"y":180,"wires":[["c73cfffb.ec975","de8aaa9a.d10378"]]},{"id":"c73cfffb.ec975","type":"debug","z":"2c2fa35e.951c8c","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":380,"y":260,"wires":[]},{"id":"4dc2be68.6042d","type":"ibmiot in","z":"2c2fa35e.951c8c","authentication":"apiKey","apiKey":"8fe09997.fa8438","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"oohanne","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":120,"y":240,"wires":[["c2c31e65.87b43"]]},{"id":"c2c31e65.87b43","type":"function","z":"2c2fa35e.951c8c","name":"Get audio","func":"return {payload:msg.payload.d.audio};","outputs":1,"noerr":0,"x":120,"y":320,"wires":[["c73cfffb.ec975","f2bfbadd.8a4998","77302801.9ce4b8"]]},{"id":"223fc1a1.d02c1e","type":"comment","z":"2c2fa35e.951c8c","name":"Say: 1) brew coffee | make coffee or 2) stop brewing","info":"","x":870,"y":380,"wires":[]},{"id":"96b5f0e7.5e931","type":"http request","z":"2c2fa35e.951c8c","name":"IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/balsz_MCXd2xawl0eqhwgz","tls":"","x":130,"y":380,"wires":[["e65906a0.04b128"]]},{"id":"e65906a0.04b128","type":"debug","z":"2c2fa35e.951c8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":380,"wires":[]},{"id":"603d387a.f1e998","type":"microphone","z":"2c2fa35e.951c8c","name":"","x":130,"y":40,"wires":[["7ccb55c6.2cf9cc"]]},{"id":"77302801.9ce4b8","type":"function","z":"2c2fa35e.951c8c","name":"Set event","func":"msg.event = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["96b5f0e7.5e931"]]},{"id":"523f434a.17633c","type":"switch","z":"2c2fa35e.951c8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"brew","vt":"str"},{"t":"eq","v":"stop_brewing","vt":"str"},{"t":"eq","v":"unclear","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":730,"y":120,"wires":[["4889ad53.478544"],["dbc07a1e.8a56c8"],["1278108b.64761f"]]},{"id":"b9de6045.8e7f7","type":"ibmiot out","z":"2c2fa35e.951c8c","authentication":"apiKey","apiKey":"8fe09997.fa8438","outputType":"cmd","deviceId":"coffeemaker","deviceType":"esp8266","eventCommandType":"gpio","format":"json","data":"true","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":1210,"y":80,"wires":[]},{"id":"4889ad53.478544","type":"function","z":"2c2fa35e.951c8c","name":"Turn on device","func":"msg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"gpio\" : \"true\"\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":80,"wires":[["b9de6045.8e7f7"]]},{"id":"444fa8d9.c75d68","type":"ibmiot in","z":"2c2fa35e.951c8c","authentication":"apiKey","apiKey":"8fe09997.fa8438","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"oohanne","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":700,"y":240,"wires":[["a075cdc6.02f87"]]},{"id":"224a212d.a6368e","type":"debug","z":"2c2fa35e.951c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":280,"wires":[]},{"id":"a075cdc6.02f87","type":"function","z":"2c2fa35e.951c8c","name":"Returned sentence","func":"msg.payload = msg.payload.d.sentence;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["224a212d.a6368e","d37904d.d509cf8"]]},{"id":"dbc07a1e.8a56c8","type":"function","z":"2c2fa35e.951c8c","name":"Turn off device","func":"msg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"gpio\" : \"false\"\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":120,"wires":[["b9de6045.8e7f7"]]},{"id":"d37904d.d509cf8","type":"watson-text-to-speech","z":"2c2fa35e.951c8c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1160,"y":160,"wires":[["22ab8852.2b79a8"]]},{"id":"1278108b.64761f","type":"function","z":"2c2fa35e.951c8c","name":"Repeat commands","func":"msg.payload = \"I didn't understand, say either: brew coffee or stop brewing\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":160,"wires":[["d37904d.d509cf8"]]},{"id":"8fe09997.fa8438","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
